<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rittie.andy.testing" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_heart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSelection"
            android:label="@string/title_activity_user_selection" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".NewUser"
            android:label="@string/title_activity_new_user" >
        </activity>
        <activity
            android:name=".DemoMode"
            android:label="@string/title_activity_demo_mode" >
        </activity>
        <activity
            android:name=".UserHomeActivity"
            android:label="@string/title_activity_user_home"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rittie.andy.testing.MainActivity" />
        </activity>
        <activity
            android:name=".RestingHeartRate"
            android:label="@string/title_activity_resting_heart_rate" >
        </activity>
        <activity
            android:name=".MonitorHeartRateActivity"
            android:label="@string/title_activity_monitor_heart_rate" >
        </activity>
        <activity
            android:name=".HeartRateMonitor"
            android:label="@string/title_activity_heart_rate_monitor" >
        </activity>
        <activity
            android:name=".RealViewArousal"
            android:label="View HR/Arousal" />
        <activity
            android:name=".HomeScreen"
            android:label="Home" />
        <activity
            android:name=".RealCalculateResting"
            android:label="@string/title_activity_real_calculate_resting" >
        </activity>
    </application>

</manifest>
